In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("commits.csv")

In [31]:
# Number of rows
df.shape[0]

203430

In [32]:
#Number of columns
df.shape[1]

3

In [33]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
df.head(5)

   deletions  additions  total
0          3          2    5.0
1          2          3    5.0
2          0         15   15.0
3          0          8    8.0
4          1          1    2.0

In [23]:
df.columns

Index([u'deletions', u'additions', u'total'], dtype='object')

In [24]:
#Number of columns
df.shape[1]

3

In [25]:
released = {
		"iphone" : 2007,
		"iphone 3G" : 2008,
		"iphone 3GS" : 2009,
		"iphone 4" : 2010,
		"iphone 4S" : 2011,
		"iphone 5" : 2012
	}
print released

{'iphone 3G': 2008, 'iphone 4S': 2011, 'iphone 3GS': 2009, 'iphone': 2007, 'iphone 5': 2012, 'iphone 4': 2010}

In [28]:
for i,v in released.items():
    print i + v

TypeError: cannot concatenate 'str' and 'int' objects